
@{
    ViewBag.Title = "UpdateProjects";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using MyPortfolioAspNetMvc5.Models.Entity
@model Projects
@{
    ViewBag.Title = "AddProject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Projelerim Alanı</h1>
                </div>
            </div>
        </div>
    </section>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <br />
                            <h3 class="card-title">Proje Güncelleme Sayfası</h3><br /><br />
                        </div>

                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                <div class="card-body">
                                    @Html.HiddenFor(x => x.ProjectID, new { @class = "form-control" })
                                    <div class="form-group">
                                        @Html.Label("Proje Adı")
                                        @Html.TextBoxFor(x => x.ProjectName, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Proje Başlığı")
                                        @Html.TextBoxFor(x => x.ProjectTitle, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Proje GitHubURL")
                                        @Html.TextBoxFor(x => x.ProjectGithubURL, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputFile">Kapak Görseli</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" name="ProjectImage" class="custom-file-input" id="exampleInputFile">
                                                <label class="custom-file-label" for="exampleInputFile">Proje Kapak Görselini Seçiniz</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Proje Açıklaması (500 karakter)")
                                        <textarea name="ProjectDescription" class="form-control" rows="10">@Model.ProjectDescription</textarea>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-outline-primary"><i class="fa fa-edit"></i>&nbsp; Güncelle</button>
                                    </div>
                                </div>
                                @Html.Partial("~/Views/LayoutPartial/NotificationPartial.cshtml")
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>










