@using MyPortfolioAspNetMvc5.Models.Entity
@model Skills
@{
    ViewBag.Title = "UpdateSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <br />
                <h1>Yetenek Güncelleme Sayfası</h1>
            </div>
        </div>
    </div>
</section>

<div class="form-group container-fluid">
    <form method="post">
        @Html.HiddenFor(x => x.SkillsID, new { @class = "form-control" })
        @Html.Label("Yetenek Adı")
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        <br />
        @Html.Label("Yetenek Oranı")
        @Html.TextBoxFor(x => x.SkillValue, new { @class = "form-control" })
        <br />
        <button class="btn btn-outline-primary"><i class="fa fa-edit"></i>&nbsp; Güncelle</button>
    </form>
</div>

@Html.Partial("~/Views/LayoutPartial/NotificationPartial.cshtml")



