@using MyPortfolioAspNetMvc5.Models.Entity
@model List<Educations>
@{
    ViewBag.Title = "Eğtim Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}


<div class="wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Eğitimlerim Alanı</h1>
                </div>
            </div>
        </div>
    </section>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Eğitimlerimin Listesi</h3><br /><br />
                            <a href="/Education/AddEducation/" class="btn btn-outline-primary"><i class="fa fa-pencil-alt"></i>&nbsp; Yeni Eğitim Ekle</a>
                            <br />
                            <br />
                        </div>

                        <div class="card-body">
                            <table class="table table-responsive-lg table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Alan</th>
                                        <th>Başlık</th>
                                        <th>Alt Başlık</th>
                                        <th>Tarih</th>
                                        <th>GNO</th>
                                        <th colspan="2" class="text-center">İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.Title</td>
                                            <td>@item.SubTitle1</td>
                                            <td>@item.SubTitle2</td>
                                            <td>@item.Date</td>
                                            <td>@item.EducationGNO</td>
                                          
                                            <td style="text-align:center">
                                                <a href="/Education/DeleteEducation/@item.EducationID" class="btn btn-outline-danger"><i class="fa fa-trash"></i>&nbsp; Sil</a>
                                            </td>  
                                            <td>
                                                <a href="/Education/UpdateEducation/@item.EducationID" class="btn btn-outline-success"><i class="fa fa-edit"></i>&nbsp; Güncelle</a>
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@Html.Partial("~/Views/LayoutPartial/NotificationPartial.cshtml")






