@using MyPortfolioAspNetMvc5.Models.Entity
@model List<Abouts>
@{
    Layout = "~/Views/UILayout/Index.cshtml";
}

@Html.Action("AboutPartial")

<hr class="m-0" />
@Html.Action("ProjectPartial")
<hr class="m-0" />
@Html.Action("ExperincePartial")
<hr class="m-0" />

@Html.Action("EducationsPartial")
<hr class="m-0" />

@Html.Action("SkillsPartial")
<hr class="m-0" />

@Html.Action("InterestsPartial")
<hr class="m-0" />

@Html.Action("CertificatePartial")
<hr class="m-0" />

<div class="col-md-12 container-fluid">
    @Html.Action("ContactPartial")
</div>


