@using MyPortfolioAspNetMvc5.Models.Entity
@model List<Experinces>
@{
    ViewBag.Title = "Deneyim Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}


<div class="wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Deneyimlerim Alanı</h1>
                </div>
            </div>
        </div>
    </section>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Deneyim Listesi</h3><br /><br />
                            <a href="/Experince/AddExperince/" class="btn btn-outline-primary"><i class="fa fa-pencil-alt"></i>&nbsp; Yeni Deneyim Ekle</a>
                            <br />
                            <br />
                        </div>

                        <div class="card-body">
                            <table class="table table-responsive-md table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Başlık</th>
                                        <th>Alt Başlık</th>
                                        <th>Tarih</th>
                                        <th class="text-center" colspan="2">İşlem</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th>@count</th>
                                            <td>@item.Title</td>
                                            <td>@item.SubTitle</td>
                                            <td>@item.Date</td>
                                            <td><a href="/Experince/DeleteExperince/@item.ExperinceID" class="btn btn-outline-danger"><i class="fa fa-trash"></i>&nbsp; Sil</a></td>
                                            <td><a href="/Experince/UpdateExperince/@item.ExperinceID" class="btn btn-outline-success"><i class="fa fa-edit"></i>&nbsp; Güncelle</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@Html.Partial("~/Views/LayoutPartial/NotificationPartial.cshtml")




