@using MyPortfolioAspNetMvc5.Models.Entity
@model Experinces
@{
    ViewBag.Title = "UpdateExperince";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <br />
                <h1>Deneyim Güncelleme Sayfası</h1>
            </div>
        </div>
    </div>
</section>

<div class="form-group container-fluid">
    <form method="post">
        @Html.HiddenFor(x => x.ExperinceID)
        @Html.Label("Başlık")
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        <br />
        @Html.Label("Alt Başlık")
        @Html.TextBoxFor(x => x.SubTitle, new { @class = "form-control" })
        <br />
        @Html.Label("Tarih (Metin)")
        @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
        <br />
        @Html.Label("Açıklama")
        <textarea name="description" class="form-control" rows="10">@Model.Description</textarea>
        <br />
        <button class="btn btn-outline-primary"><i class="fa fa-edit"></i>&nbsp; Güncelle</button>
    </form>
</div>



@Html.Partial("~/Views/LayoutPartial/NotificationPartial.cshtml")




